In [40]:
import pandas as pd

In [41]:
# Load the dataset:

df = pd.read_csv('STEG_BILLING_HISTORY.csv')

C:\Users\user\AppData\Local\Temp\ipykernel_9980\690605426.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('STEG_BILLING_HISTORY.csv')

In [45]:
# display the ten first lines, store the results in a variable called 'client_0_bills':

client_0_bills = df.head(10)
print(client_0_bills)

        client_id invoice_date  tarif_type  counter_number counter_statue  \
0  train_Client_0   2014-03-24          11       1335667.0              0
1  train_Client_0   2013-03-29          11       1335667.0              0
2  train_Client_0   2015-03-23          11       1335667.0              0
3  train_Client_0   2015-07-13          11       1335667.0              0
4  train_Client_0   2016-11-17          11       1335667.0              0
5  train_Client_0   2017-07-17          11       1335667.0              0
6  train_Client_0   2018-12-07          11       1335667.0              0
7  train_Client_0   2019-03-19          11       1335667.0              0
8  train_Client_0   2011-07-22          11       1335667.0              0
9  train_Client_0   2011-11-22          11       1335667.0              0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0           203               8.0                    1                    82
1           203               6.0                    1                  1200
2           203               8.0                    1                   123
3           207               8.0                    1                   102
4           207               9.0                    1                   572
5           207               9.0                    1                   314
6           207               9.0                    1                   541
7           207               9.0                    1                   585
8           203               9.0                    1                  1200
9           203               6.0                    1                  1082

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                     0                     0                     0
1                   184                     0                     0
2                     0                     0                     0
3                     0                     0                     0
4                     0                     0                     0
5                     0                     0                     0
6                     0                     0                     0
7                     0                     0                     0
8                   186                     0                     0
9                     0                     0                     0

   old_index  new_index  months_number counter_type
0      14302      14384              4         ELEC
1      12294      13678              4         ELEC
2      14624      14747              4         ELEC
3      14747      14849              4         ELEC
4      15066      15638             12         ELEC
5      15638      15952              8         ELEC
6      15952      16493             12         ELEC
7      16493      17078              8         ELEC
8       7770       9156              4         ELEC
9       9156      10238              4         ELEC

In [46]:
# The data type of the 'client_0_bills' variable 

print(type(client_0_bills))

<class 'pandas.core.frame.DataFrame'>

In [49]:
client_0_bills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   client_id             10 non-null     object
 1   invoice_date          10 non-null     object
 2   tarif_type            10 non-null     int64
 3   counter_number        10 non-null     float64
 4   counter_statue        10 non-null     object
 5   counter_code          10 non-null     int64
 6   reading_remarque      10 non-null     float64
 7   counter_coefficient   10 non-null     int64
 8   consommation_level_1  10 non-null     int64
 9   consommation_level_2  10 non-null     int64
 10  consommation_level_3  10 non-null     int64
 11  consommation_level_4  10 non-null     int64
 12  old_index             10 non-null     int64
 13  new_index             10 non-null     int64
 14  months_number         10 non-null     int64
 15  counter_type          10 non-null     object
dtypes: float64(2), int64(10), object(4)
memory usage: 1.4+ KB

In [50]:
# Display the general information of the dataset and try to answer the following questions : 

df.info()

# How many rows and columns do we have in this dataset : ----------------total 16 columns,  4476749 rows
# How many categorical features are present in the dataset ? ------------dtypes: object(4)
# How much memory space does the dataset consume ? ----------------------memory usage: 546.5+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      float64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: float64(2), int64(10), object(4)
memory usage: 546.5+ MB

In [14]:
# Inspect the dataset for potential missing values.

df.isna().sum()

client_id                  0
invoice_date               0
tarif_type                 0
counter_number            48
counter_statue             0
counter_code               0
reading_remarque        4531
counter_coefficient        0
consommation_level_1       0
consommation_level_2       0
consommation_level_3       0
consommation_level_4       0
old_index                  0
new_index                  0
months_number              0
counter_type               0
dtype: int64

In [ ]:
# Select your strategy to handle missing values, and tell us why you had made that choice

df['reading_remarque'].fillna(df['reading_remarque'].mean())

0          8.0
1          6.0
2          8.0
3          8.0
4          9.0
          ...
4476744    9.0
4476745    6.0
4476746    6.0
4476747    6.0
4476748    6.0
Name: reading_remarque, Length: 4476749, dtype: float64

When dealing with missing values, there are several techniques that can be used to replace them. These include:
    -Replacing missing values with the mode: Mode is the most frequently occurring value in a column. 
        This method is useful when the data is categorical.
# Replace missing values with mode : data['column_name'].fillna(data['column_name'].mode()[0], inplace=True)

    -Replacing missing values with the mean: Mean is the average value of a column.
        This method is useful when the data is numerical.
# Replace missing values with mean : data['column_name'].fillna(data['column_name'].mean(), inplace=True)

    Replacing missing values with the median: Median is the middle value of a column when it is sorted in ascending order. 
        This method is useful when the data is numerical and has outliers.
# Replace missing values with mean data['column_name'].fillna(data['column_name'].mean(), inplace=True)

In [65]:
# Run a descriptive analysis on numeric features (columns).
df.describe()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,4.476749e+06,4.476701e+06,4.476749e+06,4.472218e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06,4.476749e+06
mean,2.012804e+01,1.230595e+11,1.724884e+02,7.321713e+00,1.003040e+00,4.109795e+02,1.093225e+02,2.030620e+01,5.292588e+01,1.776700e+04,1.834970e+04,4.483095e+01
std,1.347256e+01,1.657276e+12,1.338871e+02,1.571859e+00,3.083466e-01,7.573080e+02,1.220123e+03,1.574239e+02,8.754725e+02,4.036693e+04,4.095321e+04,3.128335e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.100000e+01,1.211080e+05,5.000000e+00,6.000000e+00,1.000000e+00,7.900000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.791000e+03,2.056000e+03,4.000000e+00
50%,1.100000e+01,4.945610e+05,2.030000e+02,8.000000e+00,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.690000e+03,8.192000e+03,4.000000e+00
75%,4.000000e+01,1.115161e+06,2.070000e+02,9.000000e+00,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.166000e+04,2.234300e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,4.130000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,5.479460e+05,2.800280e+06,2.870972e+06,6.366240e+05

In [64]:
# Select the bills records for the client with an id ='train_Client_0', using 2 methods.

client_0_records_boolean = df [df['client_id'] == 'train_Client_0']
print(client_0_records_boolean)

         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

In [63]:
# Using loc[] to filter records for client 'train_Client_0'

client_0_records_loc = df.loc[df['client_id'] == 'train_Client_0']
print(client_0_records_loc)

         client_id invoice_date  tarif_type  counter_number counter_statue  \
0   train_Client_0   2014-03-24          11       1335667.0              0
1   train_Client_0   2013-03-29          11       1335667.0              0
2   train_Client_0   2015-03-23          11       1335667.0              0
3   train_Client_0   2015-07-13          11       1335667.0              0
4   train_Client_0   2016-11-17          11       1335667.0              0
5   train_Client_0   2017-07-17          11       1335667.0              0
6   train_Client_0   2018-12-07          11       1335667.0              0
7   train_Client_0   2019-03-19          11       1335667.0              0
8   train_Client_0   2011-07-22          11       1335667.0              0
9   train_Client_0   2011-11-22          11       1335667.0              0
10  train_Client_0   2008-11-25          11       1335667.0              0
11  train_Client_0   2012-07-23          11       1335667.0              0
12  train_Client_0   2012-11-29          11       1335667.0              0
13  train_Client_0   2013-07-22          11       1335667.0              0
14  train_Client_0   2014-07-18          11       1335667.0              0
15  train_Client_0   2014-11-24          11       1335667.0              0
16  train_Client_0   2015-11-18          11       1335667.0              0
17  train_Client_0   2012-03-27          11       1335667.0              0
18  train_Client_0   2011-03-30          11       1335667.0              0
19  train_Client_0   2013-02-12          11       1335667.0              0
20  train_Client_0   2010-07-22          11       1335667.0              0
21  train_Client_0   2010-11-24          11       1335667.0              0
22  train_Client_0   2005-10-17          11       1335667.0              0
23  train_Client_0   2006-02-24          11       1335667.0              0
24  train_Client_0   2006-06-23          11       1335667.0              0
25  train_Client_0   2006-10-18          11       1335667.0              0
26  train_Client_0   2007-06-27          11       1335667.0              0
27  train_Client_0   2007-10-25          11       1335667.0              0
28  train_Client_0   2007-02-26          11       1335667.0              0
29  train_Client_0   2008-07-28          11       1335667.0              0
30  train_Client_0   2009-01-04          11       1335667.0              0
31  train_Client_0   2009-07-27          11       1335667.0              0
32  train_Client_0   2009-11-24          11       1335667.0              0
33  train_Client_0   2010-03-29          11       1335667.0              0
34  train_Client_0   2008-01-04          11       1335667.0              0

    counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0            203               8.0                    1                    82
1            203               6.0                    1                  1200
2            203               8.0                    1                   123
3            207               8.0                    1                   102
4            207               9.0                    1                   572
5            207               9.0                    1                   314
6            207               9.0                    1                   541
7            207               9.0                    1                   585
8            203               9.0                    1                  1200
9            203               6.0                    1                  1082
10           203               6.0                    1                   174
11           203               6.0                    1                   628
12           203               6.0                    1                   886
13           203               8.0                    1                   147
14           203               8.0                    1                    99
15           203               8.0                    1                   141
16           207               9.0                    1                   217
17           203               8.0                    1                   292
18           203               6.0                    1                   497
19           203               8.0                    1                    38
20           203               6.0                    1                   278
21           203               6.0                    1                   234
22           203               6.0                    1                   124
23           203               6.0                    1                   141
24           203               6.0                    1                   162
25           203               6.0                    1                   159
26           203               6.0                    1                   240
27           203               6.0                    1                   276
28           203               6.0                    1                   182
29           203               6.0                    1                   171
30           203               6.0                    1                   315
31           203               6.0                    1                   312
32           203               6.0                    1                   267
33           203               6.0                    1                   276
34           203               6.0                    1                   277

    consommation_level_2  consommation_level_3  consommation_level_4  \
0                      0                     0                     0
1                    184                     0                     0
2                      0                     0                     0
3                      0                     0                     0
4                      0                     0                     0
5                      0                     0                     0
6                      0                     0                     0
7                      0                     0                     0
8                    186                     0                     0
9                      0                     0                     0
10                     0                     0                     0
11                     0                     0                     0
12                     0                     0                     0
13                     0                     0                     0
14                     0                     0                     0
15                     0                     0                     0
16                     0                     0                     0
17                     0                     0                     0
18                     0                     0                     0
19                     0                     0                     0
20                     0                     0                     0
21                     0                     0                     0
22                     0                     0                     0
23                     0                     0                     0
24                     0                     0                     0
25                     0                     0                     0
26                     0                     0                     0
27                     0                     0                     0
28                     0                     0                     0
29                     0                     0                     0
30                     0                     0                     0
31                     0                     0                     0
32                     0                     0                     0
33                     0                     0                     0
34                     0                     0                     0

    old_index  new_index  months_number counter_type
0       14302      14384              4         ELEC
1       12294      13678              4         ELEC
2       14624      14747              4         ELEC
3       14747      14849              4         ELEC
4       15066      15638             12         ELEC
5       15638      15952              8         ELEC
6       15952      16493             12         ELEC
7       16493      17078              8         ELEC
8        7770       9156              4         ELEC
9        9156      10238              4         ELEC
10       5417       5591              4         ELEC
11      10780      11408              4         ELEC
12      11408      12294              4         ELEC
13      13983      14130              4         ELEC
14      14384      14483              4         ELEC
15      14483      14624              4         ELEC
16      14849      15066              4         ELEC
17      10488      10780              4         ELEC
18       7273       7770              4         ELEC
19      14264      14302              2         ELEC
20       6761       7039              4         ELEC
21       7039       7273              4         ELEC
22       3685       3809              4         ELEC
23       3809       3950              4         ELEC
24       3950       4112              4         ELEC
25       4112       4271              4         ELEC
26       4453       4693              4         ELEC
27       4693       4969              4         ELEC
28       4271       4453              4         ELEC
29       5246       5417              4         ELEC
30       5591       5906              4         ELEC
31       5906       6218              4         ELEC
32       6218       6485              4         ELEC
33       6485       6761              4         ELEC
34       4969       5246              4         ELEC

In [67]:
# Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()
df['counter_type']=encoder.fit_transform(df['counter_type'])
df

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,0,203,8.0,1,82,0,0,0,14302,14384,4,0
1,train_Client_0,2013-03-29,11,1335667.0,0,203,6.0,1,1200,184,0,0,12294,13678,4,0
2,train_Client_0,2015-03-23,11,1335667.0,0,203,8.0,1,123,0,0,0,14624,14747,4,0
3,train_Client_0,2015-07-13,11,1335667.0,0,207,8.0,1,102,0,0,0,14747,14849,4,0
4,train_Client_0,2016-11-17,11,1335667.0,0,207,9.0,1,572,0,0,0,15066,15638,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,train_Client_99998,2005-08-19,10,1253571.0,0,202,9.0,1,400,135,0,0,3197,3732,8,0
4476745,train_Client_99998,2005-12-19,10,1253571.0,0,202,6.0,1,200,6,0,0,3732,3938,4,0
4476746,train_Client_99999,1996-09-25,11,560948.0,0,203,6.0,1,259,0,0,0,13884,14143,4,0
4476747,train_Client_99999,1996-05-28,11,560948.0,0,203,6.0,1,603,0,0,0,13281,13884,4,0
4476748,train_Client_99999,1996-01-25,11,560948.0,0,203,6.0,1,516,0,0,0,12765,13281,4,0

In [69]:
# Delete the 'counter_statue' feature from the Dataframe

df.drop(columns=['counter_statue'])

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667.0,203,8.0,1,82,0,0,0,14302,14384,4,0
1,train_Client_0,2013-03-29,11,1335667.0,203,6.0,1,1200,184,0,0,12294,13678,4,0
2,train_Client_0,2015-03-23,11,1335667.0,203,8.0,1,123,0,0,0,14624,14747,4,0
3,train_Client_0,2015-07-13,11,1335667.0,207,8.0,1,102,0,0,0,14747,14849,4,0
4,train_Client_0,2016-11-17,11,1335667.0,207,9.0,1,572,0,0,0,15066,15638,12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4476744,train_Client_99998,2005-08-19,10,1253571.0,202,9.0,1,400,135,0,0,3197,3732,8,0
4476745,train_Client_99998,2005-12-19,10,1253571.0,202,6.0,1,200,6,0,0,3732,3938,4,0
4476746,train_Client_99999,1996-09-25,11,560948.0,203,6.0,1,259,0,0,0,13884,14143,4,0
4476747,train_Client_99999,1996-05-28,11,560948.0,203,6.0,1,603,0,0,0,13281,13884,4,0
4476748,train_Client_99999,1996-01-25,11,560948.0,203,6.0,1,516,0,0,0,12765,13281,4,0